article .img-wrapper, article .img-wrapper img {
  max-width: 100%;
}

article .img-wrapper figcaption {
  text-align: center;
  font-style: italic;
}

article blockquote {
  background: #607d8b;
  margin: 0;
  padding: 5px 20px;
  border-radius: 2px;
  color: white;
}

article a {
  color: rgb(2, 180, 95);
}

article a:hover {
  color: rgb(96, 210, 156);
}
