<div id="newsletter">
    <div id="newsletter-content">
        <h2>Newsletter</h2>
        <p>Abonniere meinen Newsletter, um einmal im Monat einen Newsletter zu erhalten. Du erfährst, welche neuen Artikel es
            auf meinem Blog gibt und welche Artikel ich in diesen Monat entdeckt habe.</p>

        <form action="https://app.mailerlite.com/webforms/submit/r9m8f3" onSubmit="return subscribedToNewsletter()" data-code="r9m8f3"
            method="post" target="_blank">
            <input type="email" name="fields[email]" placeholder="E-Mail" autocomplete="email" x-autocompletetype="email">
            <input type="hidden" name="ml-submit" value="1">
            <button id="newsletter-button" type="submit">Abonnieren</button>
        </form>
    </div>
</div>