<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ seo_description }}">
  <meta property="og:title" content="{{ og.title }}">
  <meta property="og:description" content="{{ og.description }}">
  <meta property="og:image" content="{{ og.image }}">
  <meta property="og:url" content="{{ og.url }}">
  <meta property="og:type" content="{{ og.type }}">

  <title>{{ site_title }}</title>

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/post.css') }}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</head>
<body>
  {% include 'includes/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'includes/footer.html' %}

</body>
</html>
